<!DOCTYPE html>
<html lang="pt-br">
    <%- include("./include/head.ejs", {title:"Erro 404"}) -%>
    <body class="d-flex justify-content-center h-100">

        <main class="container mt-5 d-flex justify-content-center align-items-center">
            <h1 style="font-size: 15rem">erro 404</h1>
        </main>
        
        <%- include("./include/scripts.ejs") -%>
    </body>
</html>